@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
:root{
  --background-color: linear-gradient(90deg, #0d0d0d 0%, #151F30 51%, #0d0d0d 100%);
  --title-color: #f8e4cc;
  --text-color: #fffefe;
  --text-color-form: --text-color;
  --card-color: #1B273D;
  --input-bg: #1B273D;
}
html{
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: 'JetBrains Mono';
}
body{
  margin: 0 auto;
  min-height: 100%;
  font-family: 'JetBrains Mono', monospace;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  background: var(--background-color);
  background-attachment: fixed;
  background-position: center;
  animation: backgroundMove linear 5s infinite;
}
main{
  min-height: 100%;
}
h1{
  font-family: 'Sigmar', cursive;
  font-size: 4rem;
  text-align: center;
  color: var(--title-color);
}
h4{
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}
ion-icon{
  z-index: 1;
  position: fixed;
  top: 10rem;
  left: 5rem;
  color: #d16b0b;
  font-size: 4rem;
  cursor: pointer;
}
ion-icon:active{ transition: 1s; }
ion-icon:not(:active){ transition: 0.5s; }
.content-form{
  background-color: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 15rem;
  display: none;
  align-items: center;
  width: 20rem;
  z-index: 1;
  font-variant: normal;
  font-size: 1rem;
  font-weight: bold;
  flex-direction: column;
  padding: 1rem 0.2rem;
  border: 3px dashed #d16b0b;
  border-radius: 10px;
  color: var(--text-color)
}
.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.1s ease;
}
.slide-in {
  transform: translateX(5rem);
  transition: transform 0.1s ease;
}
@media (max-width: 480px) {
  .slide-in {
    transform: translateX(2rem);
    transition: transform 0.1s ease;
  }
  ion-icon{
    top: 10rem;
    left: 0.5rem;
  }
}
.slide-out {
  transform: translateX(-120%);
  transition: transform 0.2s ease;
}
.error{
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.397),
  0 0 3em #ff0000,
  0 0 0.4em #ff0000;
}
div.relative{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 1em;
}
input#id{
  position: absolute;
  color: #d16b0b;
  border: #d16b0b 3px dashed;
  border-top: none;
  border-radius: 10px;
  font-weight: 800;
  width: 15px;
  right: 0em;
  bottom: -1.4em;
}
.hidden{
  visibility: hidden;
}
input{
  color: var(--text-color);
  background: none;
  width: 60%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 3px dashed #d16b0b;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2em;
}
input:disabled {
  backdrop-filter: 10px;
  -webkit-backdrop-filter: blur();
}
input[type=submit]{
  color: var(--text-color);
  font-weight: bold;
  border: 3px dashed #d16b0b;
  text-align: center;
  cursor: pointer;
}
input[type=submit]:hover{
  background: rgba(209 107 11 0.80);
}
input:focus, textarea:focus{
  outline: none;
}
.empleado-container{
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.9rem;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  border-radius: 10px;
  width: 16em;
  padding: 1rem 1.5rem;
}
.header{
  display: flex;
  flex-direction: row;
}
.footer{
  display: flex;
  gap: 1rem;
  margin-top: 0.9rem;
}
:is(button:first-of-type, button:last-child){
  border-radius: 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
button:hover{
  outline-style: solid;
  outline-offset: 1.2px;
}

button:first-of-type{
  background: #4f46e5;
  font-weight: 700;
  border: 0.1rem solid #4e46e5af;
  color: #fff;
  outline-color: #4f46e5;
}
button:last-of-type{
  font-weight: 700;
  border: 0.1rem solid #0d0d0d;
  outline-color: var(--text-color);
}
.section{
  flex: content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1.5rem;
  font-size: 0.9rem !important;
  font-weight: 400;
  color: var(--text-color);
}
.section>h4{
  font-weight: 600;
}
.id{
  color: var(--text-color);
  display: flex;
  align-items: center;
  background-color: #151F30;
  border-radius: 9999px;
  padding: 1em 1.3em;
  text-align: center;
  width: min-content;
}
#version{
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 10px;
  color: wheat;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #4f46e5;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: absolute;
  inset: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #4e46e56b;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #4e46e538}
}


@keyframes backgroundMove { to{ background-position-x: 100vw; background-position-y: -100vh;} }
@keyframes showForm { from{ left: -400px} to{ left: 6rem;} }
@keyframes hideForm { from{ left: 6rem} to{ left: -400px;} }