@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
:root{
  --background-color: linear-gradient(90deg, #0d0d0d 0%, #151F30 51%, #0d0d0d 100%);
  --title-color: #f8e4cc;
  --text-color: #fffefe;
  --text-color-form: --text-color;
  --card-color: #1B273D;
  --input-bg: #1B273D;
}
body{
  margin: 0 auto !important;
  font-family: 'JetBrains Mono', monospace;
  background: var(--background-color);
  background-attachment: fixed;
  background-position: center;
  animation: backgroundMove linear 5s infinite;
}
h1{
  font-family: 'Sigmar', cursive;
  font-size: 4rem;
  text-align: center;
  color: var(--title-color);
}
h4{
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}
ion-icon{
  z-index: 1;
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: #f8e4cc;
  font-size: 4rem;
  cursor: pointer;
}
ion-icon:active{ transition: 1s; }
ion-icon:not(:active){ transition: 0.5s; }
.content-form{
  background-color: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 5rem;
  display: none;
  align-items: center;
  width: 17rem;
  z-index: 1;
  padding: 0 1rem;
  font-variant: normal;
  font-size: 1rem;
  font-weight: bold;
  flex-direction: column;
  padding: 1rem 0.2rem;
  border: 3px dashed #f8e4cc;
  border-radius: 10px;
  color: var(--text-color)
}
.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}
.slide-in {
  transform: translateX(2rem);
  transition: transform 0.1s ease;
}
.slide-out {
  transform: translateX(-120%);
  transition: transform 0.1s ease;
}
.error{
  background-color: red;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  margin-top: 0.5em;
  font: 1em sans-serif;
  font-weight: 500;
  max-width: 200px;
  text-align:center ;
  color: #ffffff !important;
}
input{
  color: var(--text-color);
  background: var(--input-bg);
  width: 60%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
}
input[type=submit]{
  background: var(--text-color);
  color: var(--input-bg);
  font-weight: bold;
  text-align: center;
}
input:focus, textarea:focus{
  outline: 0 solid #306844;
  outline-style: auto;
  outline-width: 0.5px;
}
.empleado-container{
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.9rem;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  border-radius: 10px;
  width: 16em;
  padding: 1rem 1.5rem;
}
.header{
  display: flex;
  flex-direction: row;
}
.footer{
  display: flex;
  gap: 1rem;
  margin-top: 0.9rem;
}
:is(button:first-of-type, button:last-child){
  border-radius: 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
button:hover{
  outline-style: solid;
  outline-offset: 1.2px;
}

button:first-of-type{
  background: #4f46e5;
  font-weight: 700;
  border: 0.1rem solid #4e46e5af;
  color: #fff;
  outline-color: #4f46e5;
}
button:last-of-type{
  font-weight: 700;
  border: 0.1rem solid #0d0d0d;
  outline-color: var(--text-color);
}
.section{
  flex: content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1.5rem;
  font-size: 0.9rem !important;
  font-weight: 400;
  color: var(--text-color);
}
.section>h4{
  font-weight: 600;
}
.id{
  color: var(--text-color);
  display: flex;
  align-items: center;
  background-color: #151F30;
  border-radius: 9999px;
  padding: 1em 1.3em;
  text-align: center;
  width: min-content;
}

@keyframes backgroundMove { to{ background-position-x: 100vw; background-position-y: -100vh;} }
@keyframes showForm { from{ left: -400px} to{ left: 6rem;} }
@keyframes hideForm { from{ left: 6rem} to{ left: -400px;} }